<div class="d-flex justify-content-center align-items-center vh-70">
  <div class="card shadow" style="width: 450px; padding: 20px">

    <div class="card-header text-center">
      <h4 class="card-title">Login Page</h4>
    </div>

    <div class="card-body">
      <form (ngSubmit)="onSubmit()">

        <div class="mb-4">
          <input name="username"
                 class="form-control form-control-lg"
                 placeholder="Username"
                 [(ngModel)]="user.username"
          >
        </div>

        <div class="mb-4">
          <input name="password"
                 class="form-control form-control-lg"
                 type="password"
                 placeholder="Password"
                 [(ngModel)]="user.password"
          >
        </div>

        <button class="btn btn-primary btn-lg w-100" type="submit">
          Login
        </button>

      </form>
    </div>
  </div>
</div>

